@import "tailwindcss";

@font-face {
  font-family: 'Krishna';
  src: url('/font/SlGUmQSNjdsmc35JDF1K5GR1SDk_YAPI.woff2');
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes bounce-horizontal {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(10px); }
}

@keyframes bounce-horizontal-reverse {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-10px); }
}

.animate-bounce-horizontal {
  animation: bounce-horizontal 1s ease-in-out infinite;
}

.animate-bounce-horizontal-reverse {
  animation: bounce-horizontal-reverse 1s ease-in-out infinite;
}

